/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/hot
/public/storage
/public/repositories
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.env.dusk.local
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/public/projects/*
!/public/projects/.gitkeep
/storage/app/private/claude-sessions
/storage/app/private/repositories
/repositories
/public/vendor/telescope
/tests/Browser/screenshots
/tests/Browser/console
