null
_ide_helper_models.php
_ide_helper.php
.phpstorm.meta.php
!.end.example
.DS_Store
.env
.env.*
.phpunit.cache/*
.phpunit.result.cache
/.docker
/.idea
/.idea/*
/.phpunit.cache
/.phpunit.cache/*
/.scribe
/.scribe/*
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/dusk-recordings/*
/storage/framework/cache/*
/storage/csv_imports/*
/tests/Feature/playgroundTest.php
/vendor
/public/screenshots/*
/public/img/screenshots/*
docker-compose.yml
Dockerfile
Homestead.json
Homestead.yaml
Makefile
npm-debug.log
yarn-error.log
/tests/Browser/Routes/Telescope/*
